@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

// @font-face {
//   font-family: 'nunitoextralight_italic';
//   src: url('nunito-italic-variablefont_wght-webfont.woff2') format('woff2'),
//        url('nunito-italic-variablefont_wght-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'nunitoextralight';
//   src: url('nunito-variablefont_wght-webfont.woff2') format('woff2'),
//        url('nunito-variablefont_wght-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

@layer base {
  html {
    @apply font-nunito font-normal text-base text-body bg-whiten relative z-1;
  }
}

*,
body,
html {
  font-family: 'Nunito', sans-serif !important;
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: none;
}

.ql-editor {
  min-height: 350px;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* Fallback for other browsers */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

[x-cloak] {
  display: none !important;
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-item-link,
.anticon.anticon-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-single .ant-select-selector {
  height: 38px !important;
  padding: 0 !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 38px !important;
  padding: 0 18px !important;
}

.ant-table-body::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #c1c1c1;
}

.ant-input-number-input-wrap,
input.ant-input-number-input {
  height: 100% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#side-bar a:hover {
  color: white !important;
}

.ant-btn.ant-btn-default:hover,
.ant-pagination-item.ant-pagination-item-active,
li.ant-pagination-item:hover,
li.ant-pagination-prev:not(.ant-pagination-disabled)
  button.ant-pagination-item-link:hover,
li.ant-pagination-next:not(.ant-pagination-disabled)
  button.ant-pagination-item-link:hover,
.ant-pagination-item.ant-pagination-item-active:hover {
  border: 1px solid #006a31;
  color: #006a31;
}
li.ant-pagination-prev:not(.ant-pagination-disabled)
  button.ant-pagination-item-link:hover
  span,
li.ant-pagination-next:not(.ant-pagination-disabled)
  button.ant-pagination-item-link:hover
  span {
  color: #006a31 !important;
}

.ant-pagination-item.ant-pagination-item-active a,
li.ant-pagination-item:hover a,
.ant-pagination-item.ant-pagination-item-active:hover a {
  color: #006a31 !important;
}

.ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  )::before {
  background-color: #006a31;
}

.form-context .ql-container.ql-snow,
.form-context .ql-toolbar.ql-snow {
  border: none;
}

.form-context .ql-editor {
  min-height: 350px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}

#FileUpload:hover #preview-icon,
.image-table:hover #preview-icon {
  display: block !important;
}

.ant-image-preview-img-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-picker {
  border-color: #006a31 !important;

  &:hover,
  &-focused {
    border-color: #006a31 !important;
    border-width: 2px !important;
  }
  &-focused {
    box-shadow: 0 0 0 2px rgb(22 94 19 / 20%) !important;
  }
}

.ant-btn:hover,
.ant-btn:focus {
  color: #006a31 !important;
  border-color: #006a31 !important;
  background: #fff;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #006a31 !important;
}

.ant-picker-today-btn {
  color: #006a31 !important;
}

.ant-picker-header-view button:hover {
  color: #006a31 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #006a31 !important;
}

.ant-image-preview-img {
  height: 70vh !important;
}

.ant-picker {
  --tw-border-opacity: 1;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);

  width: 100%;
  height: 56px;
  color: #006a31 !important;
  border-radius: 12px !important;
  border-color: hsl(
    var(--nextui-default-200) /
      var(--nextui-default-200-opacity, var(--tw-border-opacity))
  ) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  overflow: auto !important;
}
.ant-picker input::placeholder {
  color: #006a31 !important;
  font-weight: 500 !important;
}

.ant-picker-focused,
.ant-picker:hover {
  border: 1px solid #006a31 !important;
}

// .ant-picker:hover {
//   border: 1px solid #e4e4e7 !important;
// }

.ant-picker-range {
  overflow: hidden !important;
  height: 40px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.form-upload-container:hover .form-upload-action {
  display: flex;
}

.menu-item:hover .menu-item-decoration {
  display: block !important;
}
