@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  html {
    @apply font-nunito font-normal text-base text-body bg-whiten relative z-1;
  }
}

*,
body,
html {
  font-family: "Nunito", sans-serif !important;
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

[x-cloak] {
  display: none !important;
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-item-link,
.anticon.anticon-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-single .ant-select-selector {
  height: 38px !important;
  padding: 0 !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 38px !important;
  padding: 0 18px !important;
}

.ant-select-selection-placeholder {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 16px !important;
  color: #000 !important;
}

.ant-table-body::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #c1c1c1;
}

.ant-input-number-input-wrap,
input.ant-input-number-input {
  height: 100% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#side-bar a:hover {
  color: white !important;
}

.ant-btn.ant-btn-default:hover,
.ant-pagination-item.ant-pagination-item-active,
li.ant-pagination-item:hover,
li.ant-pagination-prev:not(.ant-pagination-disabled) button.ant-pagination-item-link:hover,
li.ant-pagination-next:not(.ant-pagination-disabled) button.ant-pagination-item-link:hover,
.ant-pagination-item.ant-pagination-item-active:hover {
  border: 1px solid #006a31;
  color: #006a31;
}
li.ant-pagination-prev:not(.ant-pagination-disabled) button.ant-pagination-item-link:hover span,
li.ant-pagination-next:not(.ant-pagination-disabled) button.ant-pagination-item-link:hover span {
  color: #006a31 !important;
}

.ant-pagination-item.ant-pagination-item-active a,
li.ant-pagination-item:hover a,
.ant-pagination-item.ant-pagination-item-active:hover a {
  color: #006a31 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #006a31;
}

.form-context .ql-container.ql-snow,
.form-context .ql-toolbar.ql-snow {
  border: none;
}

.form-context .ql-editor {
  min-height: 350px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}

#FileUpload:hover #preview-icon {
  display: block !important;
}

.ant-image-preview-img-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-picker {
  border-color: #006a31 !important;

  &:hover,
  &-focused {
    border-color: #006a31 !important;
    border-width: 2px !important;
  }
  &-focused {
    box-shadow: 0 0 0 2px rgb(22 94 19 / 20%) !important;
  }
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #006a31 !important;
}

.ant-picker-today-btn {
  color: #006a31 !important;
}

.ant-picker-header-view button:hover {
  color: #006a31 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #006a31 !important;
}
